
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1f1538;
    color: white;
}
.content {
    padding: 10px;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    gap: 10px;
}
.card {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(135deg, #6bc5d2, #3b90d6);
    color: white;
    text-align: center;
}
.hot-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}
.item {
    padding: 15px;
    background: #2b213e;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #2D294E;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
}
.navbar a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
    position: relative; /* Add this to position the bubble correctly */
}
.navbar a img {
    width: 24px;
    height: 24px;
    filter: invert(1) brightness(2);
    transition: filter 0.3s ease;
}
.navbar a.active img {
    filter: invert(64%) sepia(85%) saturate(748%) hue-rotate(1deg) brightness(100%) contrast(101%);
}
.navbar a:hover img {
    filter: invert(0.8) brightness(1.5);
}
.navbar a.active {
    color: #FFD700;
    border-radius: 8px;
}
.navbar a .bubble {
    position: absolute;
    top: -5px; /* Adjust vertical position of the bubble */
    right: -10px; /* Adjust horizontal position of the bubble */
    background: #f50057;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.party-list {
    max-width: 90%;
    margin: 5px auto;
}
.party-item {
    display: flex;
    align-items: center;
    background-color: #29214c;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.party-item img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.party-details {
    flex: 1;
}
.party-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white; /* Ensures default color is white */
    text-decoration: none; /* Removes underline for links */
}

.party-title:visited {
    color: white; /* Ensures color remains white after being clicked */
}

.party-meta {
    font-size: 14px;
    color: #aaa;
}
.fire-icon {
    font-size: 14px;
    color: #f53;
    margin-left: 5px;
}